  <ion-toolbar >
    <ion-row>
          <ion-col size="2" >
            <app-menufloating></app-menufloating>
          </ion-col>
          <ion-col size="2">
            <app-menufloating></app-menufloating>
          </ion-col>
          <ion-col size="2">
            <app-menufloating></app-menufloating>
          </ion-col>
          <ion-col size="2">
            <app-menufloating></app-menufloating>
          </ion-col>
          <ion-col size="1">
            <a href="https://blog.laika.com.co/" class="blog">Blog</a>
          </ion-col>
          <ion-col size="3">
            <ion-row>
              <ion-col>
                <ion-label class="subtittle4">LAIKA<ion-label class="subtittle5">Member</ion-label></ion-label>
              </ion-col>
               <ion-col  size="7">
                <ion-button size="small" color="warning" class="textButton">Adquierela Ya</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
    </ion-row>

  </ion-toolbar>