.color{
    background-color: black;
}
.subtittle4{
    color: #4c0b92;
    font-weight:900;
}
.subtittle5{
    color: orangered;
    font-weight:900;
}

.textButton{
    color: #603E85;
    font-weight:900;
}

.blog{
    color: #603E85;
    text-decoration: none;
}