<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="https://laikapp.s3.amazonaws.com/dev_images_banners/1613784393close%20up%20DIFERENCIALES%20adaptaciones%20DOMICILIO%20DIA_Mesa%20de%20trabajo%201%20copia%2022%20%281%29.png">
    </ion-slide>
    <ion-slide>
      <img src="https://laikapp.s3.amazonaws.com/dev_images_banners/1625670437guaumor%2010%20off-01.png">
    </ion-slide>
    <ion-slide>
      <img src="https://laikapp.s3.amazonaws.com/dev_images_banners/1625248979sorteo-sonido-Mailing-650x800-02.png">
    </ion-slide>
    <ion-slide>
      <img src="https://laikapp.s3.amazonaws.com/dev_images_banners/1625249535banner%20App%20membresia%20APROBADO-06.png">
    </ion-slide>
    <ion-slide>
      <img src="https://laikapp.s3.amazonaws.com/dev_images_banners/1625875726member%20day%2020%20dcto%20marcas_Mesa%20de%20trabajo%201%20copia%2010%20copy%202.png ">
    </ion-slide>
    <ion-slide>
      <img src="https://laikapp.s3.amazonaws.com/dev_images_banners/1625874630semana%20prevencion_Mesa%20de%20trabajo%201%20copia%2016%20%281%29.png ">
    </ion-slide>
  </ion-slides>
</ion-content>