.color1{
    background-color: #603E85;
    padding-top: 6px;
}
.color2{
    background-color: black;
}

.color3{
    --background: #603E85;
    color: white;
    padding-top: 18px;
    font-size: large;
}

.marginH{
    padding-top: 2px;
}


