<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col class="color1">
        <ion-row>
          <ion-col size="1">
            <app-icon-laika></app-icon-laika>  
          </ion-col>
          <ion-col size="6" class="marginH">
            <app-search></app-search>
          </ion-col>
          <ion-col size="2" class="color1">
            <app-dropdown></app-dropdown>
          </ion-col>
          <ion-col size="3">
              <ion-row>
                <ion-col size="1" class="color3">
                  <ion-icon name="person-circle-outline"></ion-icon>
                </ion-col>
                <ion-col size="5" class="color3">
                  <ion-label>Mi cuenta</ion-label>
                </ion-col>
                <ion-col size="1" class="color3">
                  <ion-icon name="cart-outline"></ion-icon>
                </ion-col>
              </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
     
  
  
  
  
  
  
  </ion-toolbar>
</ion-header>