.img{
    width: auto !important;
    height: 190px;
}

.title1{
    font-size:large;
    font-weight: bold;
    text-align-last: center;
}

.title2{
    color: black;
    font-weight: bolder;
    font-size:large;
}

.subtitle1{
    font-size: xx-small;
}

.textButton{
    color: #603E85;
    font-weight:900;
}

.subtitle2{
    font-size: x-small;
    text-decoration: line-through;
}

.title3{
    color:red;
    font-weight: bolder;
    font-size:large;
}

.button1{
    --background: white;
    font-size: xx-small;
    color: #603E85;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.button2{
    --background: #603E85;
    font-size: xx-small;
}

.button3{
    --background: #603E85;
    font-weight: bold;
}

.subtittle4{
    color: #4c0b92;
    font-weight:900;
}
.subtittle5{
    color: orangered;
    font-weight:900;
}