<ion-row class="ion-no-pading">
  <ion-col>
    <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col push="2">
            <img src="https://laikapp.s3.amazonaws.com/images_products/4739_SMARTBONES_DENTAL_BONE_MINI_8_UNIDADES_297X422.jpg" class="img">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
            <ion-card-title class="title1">Card Title</ion-card-title>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <p style="color:orange;">
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col size="4">
                <ion-label class="title2">$ 1.111</ion-label>        
              </ion-col>
              <ion-col size="8">
                <ion-row>
                  <ion-col>
                      <ion-label class="subtitle1">Antes</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                      <ion-label class="subtitle2">$ 1.111</ion-label>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>      
          
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
          
            <ion-row>
              <ion-col size="4">
                <ion-label class="title3">$ 1.111</ion-label>        
              </ion-col>
              <ion-col size="8">
                <ion-row>
                  <ion-col size="6">
                      <ion-label class="subtittle4">LAIKA</ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-label class="subtittle5">Member</ion-label>
                </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button size="small" color="warning" class="textButton">Adquierela Ya</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>      
          
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button class="button2">L</ion-button>
            <ion-button class="button1">L</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button expand="block" class="button3">
              <ion-icon name="cart-outline"></ion-icon>
              Añadir al carrito
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-card-header>
    </ion-card>
  </ion-col>
</ion-row>


  