.text1{
    color:#603E85;
}

.text2{
    color:#603E85;
    font-weight: bold;
    font-size: large;
}

.marginBot{
    color:#603E85;
    padding-bottom: 15px;
}

.textCon{
    font-size: x-small;
    color:#603E85;
    font-style: italic;
}
.inputmail{
    color:#603E85;
    border-radius: 2.5px;
    border: 1px solid; 
}

.imgoogle{
    height:40px;
}

.marginIzq{
    margin-left: 8px;
    padding-top: 5px;
}
.iconofoot{
    padding-top: 5px;
}

.fondo{
    background-color: #EAEDED;
}

.textpoliticas{
    color:#603E85;
    font-size: smaller;
}
