.label{
    font-size: xx-large;
    color: #603E85;
    font-weight: bold;
}
.slideT{
    height:350px;
    overflow: hidden;
    overflow-x: hidden;
}

.imgoogle{
    height:40px;
}

.textolabel{
    font-size: 40px;
    text-align: start;
}

.message{
    margin-top: 111px;
    margin-bottom: 25px;
    color: #603E85;
    font-weight: bolder;
}

.marginIzq{
    margin-left: 8px;
}

.padinf{
    padding-bottom: 20px;
}

.padSup{
    padding-top: 20px;
}

