<ion-content>
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col>
                <ion-row>
                  <ion-col>
                      <app-nav-bar></app-nav-bar>
                  </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <app-header></app-header>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <app-submenu1></app-submenu1>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col class="slideT">
                        <app-slider></app-slider>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-row>
                            <ion-col class="padinf">
                                <ion-label class="label">Categorias</ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <app-button></app-button>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-row>
                            <ion-col class="padinf padSup">
                                <ion-label class="label">Marcas Destacadas</ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col  push="2" size="8">
                                <app-slider-inf></app-slider-inf>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <app-card-product></app-card-product>
                    </ion-col>
                    <ion-col>
                        <app-card-product></app-card-product>
                    </ion-col>
                    <ion-col>
                        <app-card-product></app-card-product>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-row>
                            <ion-col>
                                <ion-row>
                                    <ion-col class="message" push="2" size="8">
                                        <ion-label class="textolabel">
                                            Para una mejor experiencia para ti y tu peludo descarga la app.
                                        </ion-label>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                        <ion-col push="2" size="2"> <img src="https://laika.com.co/assets/APP.png" class="imgoogle"></ion-col>
                                        <ion-col push="2" size="2" class="marginIzq"><img src="https://laika.com.co/assets/GOOGLEP.png  " class="imgoogle"></ion-col>
                                        <ion-col push="2" size="2" class="marginIzq"><img src="https://laika.com.co/assets/huaweiGallery.png  " class="imgoogle"></ion-col>
                                </ion-row>
                            </ion-col>
                            <ion-col size="6">
                                <ion-row>
                                    <ion-col push="2">
                                        <img src="../../../assets/images/app.png" alt="">
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <app-footer></app-footer>
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>