<ion-row >
  <ion-col *ngFor="let button of buttons1" size="3">
    <ion-button color="light" class="boton">
      <img src="../../../assets/images/{{button.imagen}}"  class="pr-1 mr-2 ; button">
      <p class="text">{{button.name}}</p> 
    </ion-button>
  </ion-col>
</ion-row>
<ion-row >
  <ion-col *ngFor="let button of buttons2"  size="3" push="2">
    <ion-button color="light" class="boton">
      <img src="../../../assets/images/{{button.imagen}}" class="pr-1 mr-2 ; button">
      <p class="text">{{button.name}}</p> 
    </ion-button>
  </ion-col>
</ion-row>






