.boton{
    width:270px;
    height:100px;
    margin-left:5px;
    display:block;
    
}
.text{
    font-size: large;
    align-items: center;
    margin-left: 10px;
    font-weight: bold;
}

.button{
    height: 50px;
    margin: 20px;
}


